
# Виртуальное окружение
venv/
.venv/
env/
.env

# Jupyter временные файлы и чекпоинты
.ipynb_checkpoints/
*.ipynb-checkpoint

# Переменные окружения (секреты)
.env

# Базы данных / кэш / логи
*.db
*.sqlite
*.log
tmp/
temp/

# IDE
.idea/
*.swp
*.swo

# Артефакты сборки
__pycache__/
*.pyc
.pytest_cache/
.env
